.cell-wrapper {
  display: flex;
  max-width: 600px;
  align-items: center;
}

.cell-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3em;
  height: 1.3em;
  border-radius: 1.3em;
  z-index: 2;
  margin: 0 0.3em 0 0.3em;
  overflow: hidden;
}

.cell-wrapper:hover > .cell-handle {
  background-color: #2196f3;
  transition: all 0.5s;
}

.content-wrapper {
  width: 100%;
  outline: none;
  background-color: white;
  border: 2px solid white;
  min-height: 1.5em;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0.5em 1px 0.5em;
}

.content-wrapper-focused {
  width: 100%;
  outline: none;
  background-color: white;
  min-height: 1.5em;
  padding: 0 0.5em 0 0.5em;
  border: 2px solid #2196f3;
  border-radius: 3px;
  box-shadow: 0 0 0 1px white;
}