.empty-article {
  min-height: 1.5em;
  max-width: calc(600px - 1.5em - 4px);
  border: 1px dashed white;
  margin-left: 3em !important;
}

.cell-list {
  width: fit-content;
  margin-left: 1.5em;
}

.root-list {
  margin: 0 auto !important;
}